.container-blue, .container-purple {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 10px;
    margin: 10px;
    border: solid blue 2px;
}
.container-purple {
    background-color: red;
}
p {
    width: 40px;
    height: 40px;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}